
* {
    cursor: url("../images/Guitar\ V.cur"), default;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    


}

h2 {
    font-family: 'Permanent Marker', cursive;


}

input, label {
    font-family: 'News Cycle', sans-serif;

}

.jumbotron {
    border-style: solid black 5px;
    background-image: url(../images/brickwall.png);
    background-repeat: repeat-xy;
        
}

body {
    height:auto;
    margin-bottom:25px;
    background-image: url(../images/round.png);
    background-repeat: repeat-xy;
}

.btn {
    margin:3px;
}

#gifsView {
    margin-left:25px;
    margin-right:25px;
}

.gifDiv:focus{
    background-image: url(../images/notebook.png);
    background-repeat: repeat-xy;

}